{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html>
    <head>
        <title>Chinese Cemetery</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-1.7.2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/main.css" />
        <style type="text/css">
            #header, #map {
                width:100%;
            }      
            
            /*#map {
                height:700px;
            }*/
        </style>
        <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">
            var map;
            function initialize() {
                var myOptions = {
                    zoom: 20,
                    center: new google.maps.LatLng(17.99350925818833,-76.81241512298584),
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControl: false
                };
                map = new google.maps.Map(document.getElementById('map'),
                myOptions);
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>

        <script type="text/javascript">
            // Backend logic for the toolbar buttons
            var activeButtonId = "";
            $(document).ready(function() {
                // hide the sidebar
                $("#sidebar").hide(1);
                // setup buttons
                var searchButton = $("#searchButton");
                searchButton.hover(
                    function() {
                        searchButton.addClass("button_hover");    
                    },
                    function() {
                        searchButton.removeClass("button_hover");   
                    }
                );

                searchButton.click(function() {
                    // show the search window and give it focus
                    if (activeButtonId != "searchButton") {
                        showSideBar();
                        searchButton.addClass("button_active");
                        filterButton.removeClass("button_active");
                        activeButtonId = "searchButton";
                    } else {
                        // deactivate the search here
                        hideSideBar();
                        searchButton.removeClass("button_active");
                        activeButtonId = "";
                    }
                    
                });

                // filter button:
                var filterButton = $("#filterButton");
                filterButton.hover(
                    function() {
                        filterButton.addClass("button_hover");    
                    },
                    function() {
                        filterButton.removeClass("button_hover");   
                    }
                );

                filterButton.click(function() {
                    // show the search window and give it focus
                    if (activeButtonId != "filterButton") {
                        showSideBar();
                        filterButton.addClass("button_active");
                        searchButton.removeClass("button_active");
                        activeButtonId = "filterButton";
                    } else {
                        // deactivate the search here
                        hideSideBar();
                        filterButton.removeClass("button_active");
                        activeButtonId = "";
                    }
                    
                });
            });

            function hideSideBar() {
                var sidebar = $("#sidebar");
                sidebar.hide('fast');
            }

            function showSideBar() {
                $("#sidebar").show('fast');
                // console.log("focus on the query field");
                $(".query").focus();
            }

        </script>
    </head>

    <body>
        <div id="header">
            <img src="{{ STATIC_PREFIX }}mgi_combined_logos.png" class="logoImg">
            <img id="toolbarDividerImg" src="{{ STATIC_PREFIX }}toolbar_divider.png">
            <img id="titleImg" src="{{ STATIC_PREFIX }}title_address.png">

            <div id="searchButton" class="button_normal"></div>
            <div id="filterButton" class="button_normal"></div>
        </div>
        <div id="map">Map here</div>
        <div id="sidebar">
            <div class="searchContainer">
                <center>
                    <span>
                        <input class="query">
                        {# <img id="clearSearchButton" src="{{ STATIC_PREFIX }}clear.png"> #}
                    </span>
                </center>
                <center><img id="searchContainerDivider" src="{{ STATIC_PREFIX }}sidebar_divider.png"></center>
                <div class="search_results"></div>
            </div>
            <div class="filterContainer">
                <center>Sections</center>
                <center><img id="searchContainerDivider" src="{{ STATIC_PREFIX }}sidebar_divider.png"></center>
            </div>            
        </div>
    </body>
</html>
